* {
  box-sizing: border-box;
}


.top-page-header {
  width: 100%;
  padding: 30px 4% 10px;
  position: fixed;
  top: 0;
  background-color: rgba(36, 4, 153, 0);
  display: flex;
  align-items: center;
  font-family: Teko;
}
h1 {
  margin: 0;padding: 0;
  font-size: 35px;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
}

li {
  margin: 0 0 0 15px;
  font-size: 25px;
}
nav{
  margin: 0 0 0 auto;
}

.fa-basketball-ball {
  color: aliceblue;
}

.user-info-list {
  color: aqua;
}

.user-logout-list {
  color: aqua;
}

.user-post-list {
  color: aqua;
}

.show:hover {
  text-shadow: 1px 1px 1px rgb(233, 11, 203);
}

.app-title {
  background: -webkit-linear-gradient(
30deg
,#40eee5,#09e7e7,#06f1f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
