<%= form_with(model: [tweet, comment], url: tweet_comments_path(@tweet) ) do |f| %>
  <div class="comment-form-design">
    <div><%= f.text_area :text, class: "input-mysize" %></div>
    <div class="comment-send-btn"><label class="comment-send-btn-view">>>SEND<<<%= f.submit "送信", class: "comment-btn-select-view" %></label></div>
  </div>
<% end %>
