.main {
  margin: 0;
  padding: 70px 100px 700px 0;
  font-family: Teko;
  background-image: url(/images/harden.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 1450px;
}

.content {
  display: flex;
  justify-content: center;
  padding: 0 40px;
  animation-name: fadeIn ;
  animation-duration: 1.4s;
  width: 100%;
  height: auto;
}
.list-name {
  font-size: 70px;
  color: aqua;
  text-align: center;
  animation-name: fadeIn ;
  animation-duration: 0.8s;
  background-size: cover;
  margin-left: 55px;
}

.tweet-title {
  font-size: 70px;
  line-height: 1.6;
  margin: 0 0 40px;
    background: -webkit-linear-gradient(
30deg
,#0748ee,#1ae2e9,#080808);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-align: center;
  white-space: pre-line;
}
.user-name {
  font-size: 40px;
  line-height: 1.6;
    background: -webkit-linear-gradient(
30deg
,#0747e9,#e709c2,#f12d06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-align: center;
}

.tweet-images2 {
  position: relative;
}

.images {
  height: 800px;
  width: auto;
  max-width: 1000px;
  min-width: 700px;
  border-radius: 10%;
  transition-duration: 0.3s;
}

.images:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.images-view {
  display: flex;
  justify-content: center;
}

