

.swiper-container {
  background-color: red;
  display: flex;
  justify-content: center;
  width: 1400px;
}

.swiper-wrapper {
  height: 500px;
  width: 1450px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  width: 100%;
}
.show-image {
  width: auto;
  height: 800px;
  max-width: 1400px;
}

.show-tweet {
  background-color: red;
  padding-bottom: 100px;
  font-family: Teko;
}

.content-line {
  background: -webkit-linear-gradient(
30deg
,#d50ce7,#1aa8e9,#04f304);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 70px;
}

.show-tweet-title {
  color: white;
  text-align: center;
  font-size: 50px;
}

.show-tweet-title:hover{
  text-shadow: 1px 1px 1px rgb(255, 1, 242);
  transition: 0.4;
}

.show-tweet-text {
  color: white;
  text-align: left;
  font-size: 30px;
  white-space: pre-line;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.tweet-show-end {
  color: white;
}

.page-foot {
  display: flex;
  justify-content: space-between;
}

.tweet-edit-btn {
  margin-right: 40px;
  background: -webkit-linear-gradient(
30deg
,#ea00ff,#e91a1a,#0414f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 font-size: 20px;
}
.tweet-edit-btn:hover {
  text-shadow: 1px 1px 1px rgb(217, 255, 1);
  transition: 0.4;
}

.tweetback-btn-div {
  margin-right: 30px;
  font-size: 20px;
  background: -webkit-linear-gradient(
30deg
,#ea00ff,#e91a1a,#0414f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.tweetback-btn-div:hover {
  text-shadow: 0.01px 0.01px 0.01px rgb(217, 255, 1);
}

.container {
  display: block;
  text-align: center;
}

.comment-text {
  display: block;
  margin-left: 200px;
  margin-right: 200px;
}

.comment-form {
  background: rgba(0,0,0,0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgb(218, 18, 18);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
  resize: none;
}

.comment-btn-none {
  display: none;
}

.comment-btn {
  background: -webkit-linear-gradient(
30deg
,#ee0707,#e91a1a,#f12d06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.comment-btn:hover {
  text-shadow: 0.01px 0.01px 0.01px rgb(11, 233, 59);
}

.comment-font {
  color: white;
}

.row {
  display: flex;
  flex-direction: column;
}

.comment-form-design {
  display: block;
  justify-content: center;
}

.input-mysize {
  margin-left: 650px;
}

.comment-send-btn {
  margin-right: 719px;
}

.comment-number {
  margin-left: 200px;
}

.comment-more {
  margin-top: 30px;
  margin-left: 196px;
  cursor : pointer;
}