<style>
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
</style>


<%= render "shared/header"%>
<div class="main">
  <div class="content">
    <div class="list">
     contents
    </div>
    <div class="contents row">
      <% @tweets.each do |tweet| %>
        <div class="content_post" style="background-image: url(<%= tweet.image %>);">
          <p><%= tweet.text %></p>
          <span class="name">
            <%= tweet.name %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>

