.user-info-delete-view {
  background-image: url('redblack.gif');
  padding-bottom: 250px;
}

.delete-user-infotitle {
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
  color: red;
}

.deleteuserinfotitle {
  font-size: 40px;
  text-align: center;
  color: red;
}

.delete-user-info-all {
  display: flex;
  font-size: 30px;
  margin-left: 350px;
  color: red;
}

.delete-user-info-main {
  margin-right: 100px;
}

.delete-user-name {
  font-size: 25px;
  font-weight: bold;
}

.delete-user-profile {
  font-size: 20px;
  margin-right: 200px;
  white-space: pre-line;
  font-weight: bold;
}

.delete-user-info-end {
  font-size: 40.1px;
  color: red;
}

.userdelete-btn-div {
  text-align: center;
  font-size: 30px;
  background: -webkit-linear-gradient(
30deg
,#ea00ff,#ff0000,#0414f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.userdelete-btn-div:hover {
  text-shadow: 0.1px 0.1px 0.1px rgb(12, 12, 12);
  -webkit-text-stroke: 1px white;
}

.check-back-btn {
  background: -webkit-linear-gradient(
    30deg
    ,#1eff00,#00ff00,#04f338);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.checkback-btn-div {
  font-size: 50px;
  text-align: center;
}

.checkback-btn-div:hover {
  text-shadow: 0.1px 0.1px 0.1px rgb(227, 252, 4);
}