
@keyframes fadeIn {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}


body {
  font-family: Teko;
  margin: 0;
  padding: 0;
}


.form-wrap {
  background-image: url("jordan2.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0 150px 0;
}
.form-text-wrap {
  display: block;
}

.form-header {
  display: flex;
  justify-content: center;
}

.form-header-text {
  color: red;
  font-size: 50px;
  animation-name: fadeIn ;
  animation-duration: 1s;
}

.header-caution {
  display: flex;
  justify-content: center;
  animation-name: fadeIn ;
  animation-duration: 1s;
}

.form-header-caution {
  color: red;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  animation-name: fadeIn ;
  animation-duration: 1s;
}

.form-text {
  color: #ff0999;
  font-size: 30px;
  width: 50px;
  display: inline-block;
  text-align: right;
  -webkit-text-stroke: 1px white;
}

.form-info-div {
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.form-info-header{
  color: yellow;
  font-size: 30px;
  font-weight: bold;
}

.input-default {
  width: 100%; 
	margin-bottom: 10px; 
	background-color: black;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;

  resize: none;
}

.input-name {
  width: 100%; 
	margin-bottom: 10px; 
	background-color: black;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
  resize: none;
}

.input-birth {
  width: 100%; 
	margin-bottom: 10px; 
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	background-color: black;
  color: white;
}

.info-text {
  color: yellow;
  text-align: center;
  font-size: 10px;
}
.form-bottom-text {
  font-size: 10px;
  text-align: center;
}

.indispensable {
  color: red;
}

.register-red-btn {
  font-family: Teko;
  display: inline-block;
  font-size: 80pt;
  padding: 10px 70px;
  text-decoration: none;
  border-radius: 10%;
  color: black;
  background-image: linear-gradient(45deg, #f70909 0%, #9c0295 100%);
  border-bottom: solid 3px #c58668;
}

  
.register-red-btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}


.register-btn {
  text-align: center;
}