@keyframes fadeIn {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.show-main {

  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll; 
  min-height: 1000px;
}



.user-info-title {
  line-height: 1.6;
    background: -webkit-linear-gradient(
30deg
,#07e9a5,#09e766,#f106aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  padding: 50px 0 0 100px;
  font-size: 70px;
  position: fixed;
  height: auto;
}

.user-info {
  padding: 200px 0 0 100px;
  color: white;
  font-size: 40px;
  position: fixed;
  height: auto;
  width: 480px;
}

.user-nickname {
  padding-bottom: 30px;
  color: white;
}

.user-birthday {
  padding-bottom: 30px;
  color: white;
}

.user-profile {
  font-size: 13px;
  white-space: pre-line;

}

.showbtn-flex {
  display: flex;
  justify-content: space-between;
}

.user-edit-info {
  font-size: 25px;
  background: -webkit-linear-gradient(
    30deg
    ,#6450bd,#89eb09,#f106f1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.user-edit-info:hover {
  text-shadow: 0.4px 0.4px 1px rgb(233, 11, 203);
  transition: .4s;
}


.user-tweets {
  height: auto;
  width: 100%;
  margin: 0 0 0 400px;
  padding-left: 75px;
}

.user-contents-title {
  background: -webkit-linear-gradient(
    30deg
    ,#6450bd,#eb7609,#f106f1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 60px;
  padding-top: 74px;
  animation-name: fadeIn;
  animation-duration: 2s;
  padding-right: 15px;
}

.user-tweet-list {
  overflow-y: scroll; 
  padding-right: 60px;
  animation-name: fadeIn;
  animation-duration: 4s;
}

.showtweet-title {
  font-size: 40px;
  color: white;
    margin: 120px 0 40px;
   
  text-align: center;
}


.showtweet-images {
  display: flex;
  justify-content: center;
}


.userback-btn-div {
  font-size: 25px;
  background: -webkit-linear-gradient(
    30deg
    ,#3104fa,#eb0909,#f106f1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  padding-right: 10px;
}

.userback-btn-div:hover {
  text-shadow: 0.4px 0.4px 1px rgb(238, 255, 0);
  transition: 0.4;
}
.user-edit-info:hover {
  text-shadow: 0.4px 0.4px 1px rgb(233, 11, 203);
  transition: .4s;
}

.user-profile-damy {
  position: fixed;
  padding: 200px 0 0 100px;
}

