@keyframes fadeIn {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.show-main {

  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll; 
  background-attachment: fixed;
  padding-bottom: 400px;

}

.user-maininfo {
  line-height: 1.6;
  padding: 30px 4% 10px;
  position: fixed;
  
}

.info-title {
  text-align: left;
  color: red;
  padding: 30px 6% 10px;
  font-size: 70px;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.edit {
  color: white;
  font-size: 40px;
  padding-left: 50px;
  text-align: left;
  padding-bottom: 30px;
  animation-name: fadeIn;
  animation-duration: 4s;
}
.user-info {
  line-height: 1.6;
  color: aliceblue;
  font-size: 40px;
  padding-left: 50px;
  padding-bottom: 30px;
  animation-name: fadeIn;
  animation-duration: 7s;
}
.userprofile-info {
  line-height: 1.6;
  color: aliceblue;
  font-size: 20px;
  padding-left: 50px;
  text-align: left;
  padding-bottom: 30px;
  animation-name: fadeIn;
  animation-duration: 7s;
  width: 400px;
  white-space: pre-wrap;

}

.user-maininfo-damy {
  line-height: 1.6;
  padding: 30px 50px 10px;
}

.user-tweets {
  height: auto;
  width: 100%;
  margin: 0 0 0 400px;

}

.user-contents-title {
  color: white;
  text-align: center;
  font-size: 60px;
  padding-top: 74px;
  animation-name: fadeIn;
  animation-duration: 12s;
}

.user-tweet-list {
  overflow-y: scroll; 
  padding-right: 60px;
  animation-name: fadeIn;
  animation-duration: 12s;
}

.showtweet-title {
  font-size: 40px;
  color: white;
  line-height: 1.6;
    margin: 120px 0 40px;
   
  text-align: center;
}

.showimages {
  height: auto;
  width: 100%;
}